# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.parcel-cache/
/dist/
/build/
/out/
/tmp/

# Jest
.jest/
coverage/
.cache/

# Operating System
.DS_Store
Thumbs.db